<!--
    File: HomePage.html
    Overview: This is the main HTML file for the chat application.
    Author: Bhupendra Singh
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../Styles/HomePage.css">
</head>

<body ng-app="chatApp" ng-controller="chatController" oncontextmenu="return false;">
    <div class="container">
        <div class="sidebar">
            <h2 class="curr-user">
                <!-- Display the current user's profile icon -->
                <div class="profile-image">
                    {{ currUserName.charAt(0).toUpperCase() }}
                </div>
                {{ currUserName }}
            </h2>


            <!-- Your search bar HTML code -->
            <div class="search-box">
                <div class="input-wrapper">
                    <i class="material-icons">search</i>
                    <input placeholder="Search here" type="text" ng-model="searchText" ng-change="search()"
                        ng-model-options="{ debounce: 500 }">
                </div>
                <div class="search-results" ng-if="searchResults.searchData.length > 0">
                    <ul>
                        <li ng-repeat="result in searchResults.searchData" ng-show="currUserName != result.firstname">
                            <button class="btn btn-primary" ng-click="person(result)">
                                <span ng-bind="result.firstname + ' ' + result.lastname"></span>
                            </button>
                        </li>

                    </ul>
                </div>
            </div>

            <!-- Inside the ng-repeat for displaying user list -->
            <div class="friend-drawer friend-drawer--onhover" ng-repeat="x in allUser" ng-click="person(x)"
                ng-show="currUserName != x.firstname" ng-class="{ 'selected-row': receiverUserName === x.firstname }">
                <div class="profile-image">
                    {{ x.firstname.charAt(0).toUpperCase() }}
                </div>
                <div class="text">
                    <p class="text-muted">{{ x.firstname }} <span class="time text-muted small ng-binding"
                            style="font-family: monospace">{{ formatTime(x.lastMessageTime, "userList") }}</span></p>
                    <p class="last-message" ng-if="x.lastMessage">{{ x.lastMessage | truncateMessage: 22 }}</p>
                </div>
            </div>

        </div>


        <div class="chat-area">
            <div class="chat-logout">
                <h2 class="curr-user">
                    <!-- Display the current user's profile icon -->
                    <div class="profile-image">
                        {{ receiverUserName.charAt(0).toUpperCase() }}
                    </div>
                    {{ receiverUserName}}'s Chat
                </h2>
                <div class="user-logout"><a href="#!/login" ng-click="logout()">Logout</a></div>
            </div>
            <div class="chat-msg" id="messageBody">
                <div class="chat-message" ng-repeat="chat in allUserArr"
                    ng-class="{'sender': chat.receiverId === currUser, 'receiver': chat.senderId === currUser}">
                    <div class="chat-bubble"
                        ng-class="{'chat-bubble--left': chat.receiverId === currUser, 'chat-bubble--right': chat.senderId === currUser}">
                        {{chat.message}}

                        <!-- Check if the message has a fileUrl -->
                        <div ng-if="chat.fileUrl">
                            <!-- Check if the file is an image (you can check for other file types as well) -->
                            <img ng-if="isImage(chat.fileUrl)" ng-src="{{ chat.fileUrl }}" alt="Image">
                        </div>
                        <div class="chat-timestamp">
                            <span>{{ formatTime(chat.createdAt, "message") }}</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="chat-box-tray">
                <i class="material-icons">sentiment_very_satisfied</i>
                <input type="text" ng-model="message" placeholder="Type your message here..."
                    ng-keypress="checkEnterKey($event)">
                <label for="fileInput">
                    <i class="material-icons">attach_file</i>
                </label>
                <input type="file" id="fileInput" style="display: none" accept="image/*" ng-change="uploadFile($event)">
                <div id="filePreview" style="display: none;">
                    <!-- File preview will be shown here -->
                    <img id="previewImage" style="max-width: 100px; max-height: 100px;" />
                </div>
                <i class="material-icons">mic</i>
                <button style="font: message-box;" type="submit" ng-click="addMessage()">Send</button>
            </div>

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
</body>

</html>