<!--
    File: HomePage.html
    Overview: This is the main HTML file for the chat application.
    Author: Bhupendra Singh
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../Styles/HomePage.css">
</head>

<body ng-app="chatapp" ng-controller="chatController" oncontextmenu="return false;">
    <div class="container">
        <div class="sidebar">
            <h2 class="curr-user">
                <!-- Display the current user's profile icon -->
                <div class="profile-image">
                    <!-- Use ng-if and AngularJS expressions to conditionally display the default image URL -->
                    <img ng-if="receiverImageUrl" ng-src="{{ receiverImageUrl }}" alt="Profile Image">
                    <img ng-if="!receiverImageUrl"
                        src="https://i.pinimg.com/236x/47/5a/86/475a86177aeedacf8dc7f5e2b4eff61f.jpg"
                        alt="Default Profile Image">
                </div>
                <div><button class="account-button">{{ currUserName }}</button></div>
                <div class="curr-user-logout user-logout hide-logout"><a href="#!/login" ng-click="logout()">Logout</a></div>
            </h2>

            <!-- Search bar HTML code -->
            <div class="search-box">
                <div class="input-wrapper">
                    <i class="material-icons">search</i>
                    <input placeholder="Search here" type="text" ng-model="searchText" ng-change="search()"
                        ng-model-options="{ debounce: 500 }">
                </div>
                <div class="search-results" ng-if="searchResults.searchData.length > 0">
                    <ul class="search-user-list">
                        <li ng-repeat="result in searchResults.searchData" ng-show="currUserName != result.firstname">
                            <!-- Button to select a person from search results -->
                            <button class="btn btn-primary" ng-click="person(result)">
                                <span ng-bind="result.firstname + ' ' + result.lastname"></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- User list display using ng-repeat -->
            <div class="friend-drawer friend-drawer--onhover" ng-repeat="x in allUser" ng-click="person(x)"
                ng-show="currUserName != x.firstname" ng-class="{ 'selected-row': receiverUserName === x.firstname }">
                <div class="profile-image">
                    <!-- Use ng-if and AngularJS expressions to conditionally display the default image URL -->
                    <img ng-if="userListProfile" ng-src="{{ userListProfile }}" alt="Profile Image">
                    <img ng-if="!userListProfile"
                        src="https://i.pinimg.com/236x/47/5a/86/475a86177aeedacf8dc7f5e2b4eff61f.jpg"
                        alt="Default Profile Image">
                </div>
                <div class="text">
                    <!-- Display user's firstname and last message time -->
                    <p class="text-muted">{{ x.firstname }} <span class="time text-muted small ng-binding"
                            style="font-family: monospace">{{ formatTime(x.lastMessageTime, "userList") }}</span></p>
                    <!-- Display the last message truncated to 22 characters -->
                    <p class="last-message" ng-if="x.lastMessage">{{ x.lastMessage | truncateMessage: maxLength }}</p>
                </div>
            </div>
        </div>


        <div class="chat-area">
            <div class="chat-logout">
                <h2 class="curr-user">
                    <!-- Display the current user's profile icon -->
                    <!-- Use the img tag with ng-src to show the receiver's image -->
                    <div class="chat-header">
                        <!-- Add the back button with ng-click to handle the click event -->
                        <button class="back-button" ng-click="goBackToSidebar()" ng-show="showBackButton">
                            <i class="material-icons">arrow_back</i>
                        </button>
                    </div>
                    <div class="profile-image">
                        <!-- Use ng-if and AngularJS expressions to conditionally display the default image URL -->
                        <img ng-if="activeChatProfile" ng-src="{{ activeChatProfile }}" alt="Profile Image">
                        <img ng-if="!activeChatProfile"
                            src="https://i.pinimg.com/236x/47/5a/86/475a86177aeedacf8dc7f5e2b4eff61f.jpg"
                            alt="Default Profile Image">
                    </div>
                    <div>{{ receiverUserName }}'s Chat</div>
                </h2>
                <div class="user-logout"><a href="#!/login" ng-click="logout()">Logout</a></div>
            </div>

            <div class="chat-msg" id="messageBody">
                <!-- Check if allUserArr is empty or has a length of 0 -->
                <!-- Message container -->
                <div ng-if="allUserArr.length === 0" class="image-container">
                    <div class="no-message">
                        <span>No message yet! Start the conversation.</span>
                        <i class="material-icons smile-emoji">insert_emoticon</i>
                        <!-- Replace 'insert_emoticon' with the desired Material Icon -->
                    </div>
                </div>
                <!-- If allUserArr is not empty, display the chat messages -->
                <div class="chat-message" ng-repeat="chat in allUserArr"
                    ng-class="{'sender': chat.receiverId === currUser, 'receiver': chat.senderId === currUser}">
                    <div class="chat-bubble"
                        ng-class="{'chat-bubble--left': chat.receiverId === currUser, 'chat-bubble--right': chat.senderId === currUser}">
                        {{ chat.message }}

                        <!-- Check if the message has a fileUrl -->
                        <div ng-if="chat.fileUrl">
                            <!-- Check if the file is an image (you can check for other file types as well) -->
                            <img ng-if="isImage(chat.fileUrl)" ng-src="{{ chat.fileUrl }}" alt="Image">
                        </div>
                        <div class="chat-timestamp">
                            <span>{{ formatTime(chat.createdAt, "message") }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chat-box-tray">
                <i class="material-icons">sentiment_very_satisfied</i>
                <input type="text" ng-model="message" placeholder="Type your message here..."
                    ng-keypress="checkEnterKey($event)">

                <label for="fileInput">
                    <i class="material-icons">attach_file</i>
                </label>
                <input type="file" id="fileInput" style="display: none" accept="image/*" ng-model="file"
                    ng-change="uploadFile($event)">

                <div id="filePreview" style="display: none;">
                    <!-- File preview will be shown here -->
                    <img id="previewImage" style="max-width: 100px; max-height: 100px;" />
                </div>
                <i class="material-icons">mic</i>
                <button style="font: message-box;" type="submit" ng-click="addMessage()" class="send-btn">Send</button>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
</body>

</html>