<!--
    File: SignUp.html
    Overview: This is the main HTML file for the chat application.
    Author: Bhupendra Singh
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App Sign Up</title>
    <link rel="stylesheet" href="../Styles/SignUp.css">
</head>

<body ng-controller="controlSignup">
    <div class="container">
        <form class="signup-form" ng-app="myApp">
            <h2 class="form-title">CREATE YOUR ACCOUNT</h2>

            <div class="form-group">
                <label for="firstname">Firstname</label>
                <input type="text" placeholder="Enter your first name" name="firstname" ng-model="firstname" required>
            </div>

            <div class="form-group">
                <label for="lastname">Lastname</label>
                <input type="text" placeholder="Enter your last name" name="lastname" ng-model="lastname" required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" placeholder="Enter your email" name="email" ng-model="email" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" placeholder="Enter Password" name="password" ng-model="password" id="password"
                    title="At least 8 or more characters" required>
            </div>

            <div class="form-group">
                <button type="submit" ng-click="signup()" ng-disabled="myForm.$invalid">Sign Up</button>
            </div>

            <div class="form-footer">
                <p>Already have an account? <a href="#!/login" ng-click="go()">Log in</a></p>
            </div>
        </form>
    </div>
</body>

</html>